<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worry1004의 스타트업 Finder</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <style type="text/css">
        .image-box {
            display: block;
        }
        .card-columns {
            display: inline-block; 
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cards_box').html('');
        });

        function corp_reader_1() {
            $(".image-box").hide();
            $('#cards_box').html('');
            $.ajax({
                type: "GET",
                url: "/reader_1",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let finallist = response['finallist'];
                        for (let i = 0; i < finallist.length; i++) {
                            make_card(finallist[i]['corporate_name'], finallist[i]['article_link'], finallist[i]['address'], finallist[i]['code_name'], finallist[i]['registration_date'], finallist[i]['employee_num']);
                        }
                    } else {
                        alert("자료를 받아오지 못했습니다.");
                    }
                }
            });
        }
        function corp_reader_2() {
            $(".image-box").hide();
            $('#cards_box').html('');
            $.ajax({
                type: "GET",
                url: "/reader_2",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let finallist = response['finallist'];
                        for (let i = 0; i < finallist.length; i++) {
                            make_card(finallist[i]['corporate_name'], finallist[i]['article_link'], finallist[i]['address'], finallist[i]['code_name'], finallist[i]['registration_date'], finallist[i]['employee_num']);
                        }
                    } else {
                        alert("자료를 받아오지 못했습니다.");
                    }
                }
            });
        }
        function corp_reader_3() {
            $(".image-box").hide();
            $('#cards_box').html('');
            $.ajax({
                type: "GET",
                url: "/reader_3",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let finallist = response['finallist'];
                        for (let i = 0; i < finallist.length; i++) {
                            make_card(finallist[i]['corporate_name'], finallist[i]['article_link'], finallist[i]['address'], finallist[i]['code_name'], finallist[i]['registration_date'], finallist[i]['employee_num']);
                        }
                    } else {
                        alert("자료를 받아오지 못했습니다.");
                    }
                }
            });
        }
        function corp_reader_4() {
            $(".image-box").hide();
            $('#cards_box').html('');
            $.ajax({
                type: "GET",
                url: "/reader_4",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let finallist = response['finallist'];
                        for (let i = 0; i < finallist.length; i++) {
                            make_card(finallist[i]['corporate_name'], finallist[i]['article_link'], finallist[i]['address'], finallist[i]['code_name'], finallist[i]['registration_date'], finallist[i]['employee_num']);
                        }
                    } else {
                        alert("자료를 받아오지 못했습니다.");
                    }
                }
            });
        }
        function make_card(corporate_name, article_link, address, code_name, registration_date, employee_num) {
            let temp_html = '<a href="' + article_link + '" target="_blank" class="card list-group-item list-group-item-action flex-column align-items-start">\
                    <div class="d-flex w-100 justify-content-between">\
                        <h5 class="mb-2">' + corporate_name + '</h5>\
                    </div>\
                    <p class="mb-1">' + address + '</p>\
                    <small>' + code_name + '</small><br>\
                    <small>' + registration_date + ' / ' + employee_num + '</small>\
                </a><br>';
            $('#cards_box').append(temp_html);
        }
    </script>

</head>

<body>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">WORRY1004</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item row px-md-4">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Find Startup!
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" onclick="corp_reader_1()">컴퓨터 시스템 관련업</a>
                                <a class="dropdown-item" onclick="corp_reader_2()">응용 소프트웨어 개발 및 공급업</a>
                                <a class="dropdown-item" onclick="corp_reader_3()">기타 정보통신업</a>
                                <a class="dropdown-item" onclick="corp_reader_4()">연구개발업</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown row px-md-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Storage Startups
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/corp_1/">1년차 스타트업</a>
                            <a class="dropdown-item" href="/corp_2/">2년차 스타트업</a>
                            <a class="dropdown-item" href="/corp_3/">3년차 스타트업</a>
                        </div>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>
    </div>
    <div class="image-box">
        <img src="https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
            class="img-fluid" alt="Responsive image" width="100%">
    </div>
    <div class="container-fluid">
            <div class="card-columns col-md-12" id="cards_box">
                <a href="#" target="_blank">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-2">Corporate Name</h5>
                    </div>
                    <p class="mb-1">Address</p>
                    <small>Code Name</small><br>
                    <small>Registration Date / Employee Number</small>
                </a>
            </div>         
    </div>
    <div class="sticky-bottom">
        <nav class="navbar navbar-light bg-light">
            <a class="nav-item" href="mailto:worry1004@yonsei.ac.kr">Copyright 2020. Park Sungju. All right
                reserved.</a>
        </nav>
    </div>
</body>

</html>